RewriteEngine on
RewriteBase /
RewriteRule ^(contact|about|faq|affiliate|testimonials|login|register|eform|track|logout)?$ index.php?a=$1 [L]
RewriteRule ^page/(.*)?$ index.php?a=page&prefix=$1 [L]
RewriteRule ^account/(exchanges|verification|testimonials|submit_testimonial|referrals|wallet|settings|withdrawals|withdrawal)?$ index.php?a=account&b=$1 [L]
RewriteRule ^account/exchanges/(.*)?$ index.php?a=account&b=exchanges&page=$1 [L]
RewriteRule ^account/exchange/(.*)?$ index.php?a=account&b=exchange&id=$1 [L]
RewriteRule ^account/referrals/(.*)?$ index.php?a=account&b=referrals&page=$1 [L]
RewriteRule ^account/testimonials/(.*)?$ index.php?a=account&b=testimonials&page=$1 [L]
RewriteRule ^account/delete_testimonial/(.*)?$ index.php?a=account&b=delete_testimonial&id=$1 [L]
RewriteRule ^account/wallet/(deposit|send-money|transactions|exchange)?$ index.php?a=account&b=wallet&c=$1 [L]
RewriteRule ^account/wallet/transactions/(.*)?$ index.php?a=account&b=wallet&c=transactions&page=$1 [L]
RewriteRule ^testimonials/(.*)?$ index.php?a=testimonials&page=$1 [L]
RewriteRule ^ref/(.*)?$ index.php?refid=$1 [L]
RewriteRule ^exchange/(.*)?$ index.php?a=exchange&id=$1 [L]
RewriteRule ^password/reset?$ index.php?a=password&b=reset [L]
RewriteRule ^password/change/(.*)?$ index.php?a=password&b=change&hash=$1 [L]
RewriteRule ^payment/(.*)?$ index.php?a=payment&id=$1 [L]
RewriteRule ^email-verify/(.*)?$ index.php?a=email-verify&hash=$1 [L]
AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
